.App {
  text-align: center;
}

.col-sm-6 {
  margin-top: 20px;
  box-shadow: 8px 8px 5px;
  padding: 20px;
  background-color: rgb(206, 251, 206);
  border-radius: 20px;
}

.modal-content {
  padding: 17px;
}

.col-sm-6:hover {
  position: relative;
  top: -8px;
  left: -8px;
  background-color: rgb(191, 245, 64);
}